#firstdiv {
    background-color: yellow;
}

.red {
    color: red;
}

* {
    margin: 0;
    padding: 0;
}

div>p {
    color: red;
}

a:visited {
    color: green;
}

a:active {
    background-color: red;
}